<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Clubes de Jazz</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- esta es la lista que devuelve categorias generales de la api -->
  <ion-list>
    <ion-item *ngFor="let lugar of lugares">
      <ion-label>{{lugar.nombre}} - {{lugar.nombre_normalizado}}</ion-label>
    </ion-item>
  </ion-list>


<!-- hasta acá llegué yo sin éxito llamando a los bares de jazz -->
<!-- estoy bastante segura de que es un tema con la definición de la interfaz -->
  <!-- <ion-list>
    <ion-item *ngFor="let club of clubes">
      <ion-label>{{club.total}}</ion-label>
    </ion-item>
  </ion-list> -->

  <div>
  <footer class="pie">
    <p>Hecho por AfterWork - 2022</p>
    <p>
      Fuente de los datos:
      <a
        href="https://datosabiertos-apis.buenosaires.gob.ar/BA_Root/Documentacion?schema_name=busqueda_lugares"
        >Lugares de interés de la ciudad de Buenos Aires</a
      >
    </p>
  </footer>
</div>

</ion-content>
